<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Sale Item</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Time</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Price</th>
		<th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales_data %}
                <tr>
                    <td>{{ sale.Time }}</td>
                    <td>{{ sale.Item }}</td>
                    <td>{{ sale.Amount }}</td>
                    <td>{{ sale.Price }}</td>
		    <td>{{ sale.Total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
